@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(/src/images/background.png);
  background-color: #00446e;
  background-size: cover contain;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100% !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#toast {
  background-color: purple;
}
.bottom-holder {
  display: flex;
  align-items: center;
}
.header-container {
  background: transparent;
}
